@import 'core/settings';
@import 'core/links';
@import 'components/_body.scss';
@import 'layout/_header.scss';
@import 'components/_contact_hero.scss';
@import 'layout/_footer.scss';
body {
    background: url('../images/logo-adalab-80px.png') center center no-repeat $color-white;
    margin: 0;
    height: 100vh;
}