<footer class="footer">
    <div class="container">
        <h4 class="footer__copyright">re-programadas © 2019</h4>

        <ul class="footer__menu">
            <li class="footer__menu-item">
                <a class="link" href="#team">equipo</a>
            </li>
            <li class="footer__menu-item">
                <a class="link" href="#adalabers">adalabers</a>
            </li>
            <li class="footer__menu-item">
                <a class="link" href="#contacto">contacto</a>
            </li>
        </ul>
        <img class="logo" src="assets/images/logo-adalab.png" alt="logo Adalab" />
    </div>
</footer>