<footer class="footer__container">
    <div class="container">
        <h4 class="copyright">re-programadas © 2019</h4>
        <nav class="footer__menu">
            <ul class="footer__list">
                <li class="list__item">equipo</li>
                <li class="list__item">quiénes somos</li>
                <li class="list__item">contacto</li>
            </ul>
        </nav>
        <img class="logo"
        src= "assets/images/logo-adalab-png"
        alt="logo de Adalab">
    </div>
</footer>
