<header class="header__container">
    <div class="container">
        <!-- Titulo web -->
        <h1 class="header__title">RE-PROGRAMADAS</h1>
        <!-- Menú header-->
        <div class="header__nav-box">
            <nav class="header__nav">
                <ul class="nav__list">
                    <li class="nav__list-items nav__list-items-1">
                        <a href="#team">equipo</a>
                    </li>
                </ul>
                <ul class="nav__list">
                    <li class="nav__list-items nav__list-items-2">
                        <a href="#adalabers">quienes Somos</a>
                    </li>
                </ul>
                <ul class="nav__list">
                    <li class="nav__list-items nav__list-items-3"><a href="#contact">contacto</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>