<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600|Rubik:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/1baa5ed16a.js"></script>
    <link rel="stylesheet" href="assets/css/main.css">
    <title>Reprogramadas</title>
</head>

<body class="page">

    <!-- HEADER -->
    <partial src="_header.html" label="header"></partial>

    <!--MAIN-->
    <main class="main__container">

        <!--Hero section-->

        <partial src="_hero.html" label="hero"></partial>

        <!--Team section-->
        <partial src="_team.html" label="team"></partial>


        <!-- SECCIÓN ADALABERS-->
        <partial src="_adalabers.html" label="adalabers"></partial>

    </main>
    <footer class="footer">
        <div class="container">
            <h4 class="footer__copyright">re-programadas © 2019</h4>

            <ul class="footer__menu">
                <li class="footer__menu-item">
                    <a class="link" href="#team">equipo</a>
                </li>
                <li class="footer__menu-item">
                    <a class="link" href="#adalabers">adalabers</a>
                </li>
                <li class="footer__menu-item">
                    <a class="link" href="#contacto">contacto</a>
                </li>
            </ul>
            <img class="logo" src="assets/images/logo-adalab.png" alt="logo Adalab" />
        </div>
    </footer>

</body>

</html>