.page {
    margin: 0px;
    height: 100vh;
    background-color: white;
    background: url('../images/logo-adalab-80px.png') center center no-repeat $color-white;
}

.container {
    margin: 0 15px;
}