.footer__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    border-top: solid 1px #b8b8b9;
    box-sizing: border-box;
    text-decoration: none;
}
.copytight__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.list__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
}
.footer__list {
    margin: 20px 0px 0px 0px;
    box-sizing: border-box;
}
.list__item {
    padding: 0px;
    list-style: none;
    font-family:'OpenSans';
    font-size:14px;
    color: #54585a;
    text-transform: uppercase;
    font-weight: 600;
}
.link {
    text-decoration: none;
    color: #54585a;
}
.link:visited {
    text-decoration: none;
    color: #54585a;
}
.footer__menu{
    margin: 0px;
}

.logo {
    width: 115px;
    height: 45px;
    align-self: center;
    margin: 30px 0 45px 0;
    box-sizing: border-box;
}

.footer__container .container{
    margin: 0 15px 0;
    padding: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    
}

.copyright {
    margin: 0px;
    font-family: 'OpenSans';
    color: #b8b8b9;
    font-size:14px;
    margin-top: 30px;
    text-transform: capitalize;
    box-sizing: border-box;
}

@media all and (min-width: 768px){
.footer__container .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:"copy menu" "logo menu";
}
.copyright {
    grid-area: copy;
}
.footer__menu{
    grid-area: menu;
}
.logo {
    grid-area: logo;
    margin:0px;
    padding: 0px;
}
.copyright__container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.list__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
}