.footer {
    border-top: 1px solid #b8b8b9;
    box-sizing: border-box;
    margin: 0px;
    padding: 30px 0 45px;
    width: 100%;
}

.footer .container {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 15px;
}

.footer__copyright {
    text-transform: capitalize;
    font-family: 'Open Sans';
    font-weight: normal;
    font-size: 14px;
    color: #b8b8b9;
    margin: 0 0 20px 0;
}

.footer__menu {
    list-style: none;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #54585a;
    margin: 0 0 30px 0;
    padding: 0px;
}

.logo {
    width: 115px;
    height: 45px;
    margin: 0px;
    order: 1;
}

.link {
    text-decoration: none;
    color: #54585a;
}

@media all and (min-width: 768px) {
    .footer {
        box-sizing: border-box;
        padding: 0;
    }
    .footer .container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        box-sizing: border-box;
        margin: 0 45px;
    }
    .footer__menu {
        align-self: flex-end;
        text-align: right;
        line-height: 30px;
        padding: 0px;
        order: 1;
    }
    .logo {
        margin-bottom: 45px;
    }
    .footer__copyright {
        margin: 30px 0 15px;
    }
}

@media all and (width: 1200px) {
    .footer .container {
        margin: 0 auto;
    }
}