// variables colores

$color-primary: #14d9c4;
$color-secondary:#099d8d;
$color-terciary: #54585a;
$color-light: #ffffff;
$color-midtone: #b8b8b9;
$color-dark: #000000;

//variables para tipografías

$font-titles: 'Rubik', sans-serif;
$font-body: 'Open Sans', sans-serif;
$font-size: 16px;
$line-height: 1.5;
$font-color-base: $color-terciary;
$font-color-dark: $color-dark;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold:600;
