/*Mobile version*/

=======>>>>>>>1ab2d4d9bcb5be406a2e56665995e96ba54a5fdb .page {
    margin: 0px;
}


/*mobile version*/

.container {
    margin: 0 15px;
}


/*tablet version*/

@media all and (min-width: 768px) {
    .container {
        margin: 0 45px;
    }
}


/*desktop version*/

@media all and (min-width: 768px) {
    .container {
        margin: 0 auto;
    }
}